<nav class="navbar navbar-dark bg-dark mb-5">  
    <a class="navbar-brand" href="/">Employee App</a>  
    <div class="navbar-expand mr-auto">  
      <div class="navbar-nav">  
        <a class="nav-item nav-link active" routerLink="home" routerLinkActive="active" i18n="@@home">Home</a>  
        <a class="nav-item nav-link" routerLink="employees" i18n="@@app">Employee</a>  
      </div>  
    </div>  
    <div class="navbar-expand ml-auto navbar-nav">  
      <div class="navbar-nav">  
        <a class="nav-item nav-link" href="https://github.com/sarathlalsaseendran" target="_blank">  
          <i class="fa fa-github"></i>  
        </a>  
        <a class="nav-item nav-link" href="https://twitter.com/sarathlalsasee1" target="_blank">  
          <i class="fa fa-twitter"></i>  
        </a>  
        <a class="nav-item nav-link" href="https://codewithsarath.com" target="_blank">  
          <i class="fa fa-wordpress"></i>  
        </a>  
      </div>  
    </div>  
  </nav>  