
<div class="container" id="container">
   


     <article class="textcontent post-11 page type-page status-publish hentry" id="post-11">
         <section class="entry-content"><h1 id="hr0"><a class="nodeco headerref" id="h0" name="h0">Bibliography</a></h1>
<p><span style="font-family: Gotham-Bold;">01</span><br>
Ren AA, Snellings DA, Su YS, Hong CC, Castro M, Tang AT, Detter MR, Hobson N, Girard R, Romanos S, Lightle R, Moore T, Shenkar R, Benavides C, Beaman MM, Mueller-Fielitz H, Chen M, Mericko P, Yang J, Sung DC, Lawton MT, Ruppert M, Schwaninger M, Körbelin J, Potente M, Awad<span class="Apple-converted-space">&nbsp; </span>IA, Marchuk DA, Kahn ML. (2021) PIK3CA and CCM mutations fuel cavernomas through a cancer-like mechanism. Nature.</p>
<p><a href="https://www.nature.com/articles/s41586-021-03562-8"><span class="emphasize">Nature</span></a>&nbsp;Online ahead of print.</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">02</span><br>
Andrade J, Shi C, Costa ASH, Choi J,&nbsp;Kim J,&nbsp;Doddaballapur A, Sugino T, Ong YT, Castro M,&nbsp;Zimmermann B, Kaulich M, Guenther S, Wilhelm K,&nbsp;Kubota Y,&nbsp;Braun T, Koh GY, Grosso AR, Frezza C,&nbsp;Potente M. (2021)&nbsp;Control of endothelial quiescence by&nbsp;FOXO-regulated metabolites. <span class="emphasize"><a href="https://rdcu.be/chUvY">Nature Cell Biology</a></span>&nbsp;23(4):413-423.</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">03</span><br>
Luo W, Garcia-Gonzalez I, Fernández-Chacón M, Casquero-Garcia V, Sanchez-Muñoz MS, Mühleder S, Garcia-Ortega L, Andrade J, Potente M, Benedito R. (2021)&nbsp;Arterialization requires the timely suppression of cell growth. <span class="emphasize"><a href="https://www.nature.com/articles/s41586-020-3018-x">Nature</a></span> 589(7842):437-441.</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">04</span></p>
<p>Wang L, Wang SP, Shi Y, Li R, Günther S, Ong YT, Potente M, Yuan Z, Liu E, Offermanns S. (2020) YAP and TAZ protect against white adipocyte cell death during obesity. <span class="emphasize"><a href="https://www.nature.com/articles/s41467-020-19229-3">Nat Commun</a></span> 11(1):5455.</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">05</span></p>
<p>Helker CSM, Eberlein J, Wilhelm K, Sugino T, Malchow J, Schuermann A, Baumeister S, Kwon HB, Maischein HM, Potente, Herzog W, Stainier DYR. (2020) Apelin&nbsp;signaling drives vascular endothelial cells toward a pro-angiogenic state. <span class="emphasize"><a href="https://elifesciences.org/articles/55589">Elife</a></span> 9:e55589.</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">06</span></p>
<p>Castro M, Andrade J, Potente M. (2020) Endothelial Cells Don’t Waste: Endothelial-Derived Lactate Boosts Muscle Regeneration. <span class="emphasize"><a href="https://www.sciencedirect.com/science/article/pii/S1534580720305025?via%3Dihub">Dev Cell</a></span>&nbsp;54(2):137-139.</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">07</span></p>
<p>Fukuda R, Aharonov A, Ong YT, Stone OA, El-Brolosy M, Maischein HM, Potente M, Tzahor E, Stainier DYR. (2019) Metabolic modulation regulates cardiac wall&nbsp;morphogenesis in zebrafish. <span class="emphasize"><a href="https://elifesciences.org/articles/50161">Elife&nbsp;</a></span>8:e50161.</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">08</span><br>
Lim R#,&nbsp;Sugino T#,&nbsp;Nolte H,&nbsp;Andrade J,&nbsp;Zimmermann B,&nbsp;Shi C,&nbsp;Doddaballapur A,&nbsp;Ong YT,&nbsp;Wilhelm K,&nbsp;Fasse JWD,&nbsp;Ernst A,&nbsp;Kaulich M,&nbsp;Husnjak K,&nbsp;Boettger T,&nbsp;Guenther S,&nbsp;Braun T,&nbsp;Krüger M,&nbsp;Benedito R,&nbsp;Dikic&nbsp;I,&nbsp;Potente M. (2019) Deubiquitinase USP10 regulates Notch signaling in&nbsp;the endothelium . <span class="emphasize"><a href="http://science.sciencemag.org/cgi/rapidpdf/364/6436/188?ijkey=/JzS4EzP0YnFA&amp;keytype=ref&amp;siteid=sci">Science</a></span>&nbsp;364(6436):188-193.&nbsp;#contributed equally</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">09</span><br>
Andrade J, Potente M. (2019) Endothelial metabolism – more complex (III) than previously thought.&nbsp;<span class="emphasize"><a href="https://www.nature.com/natmetab/">Nature Metabolism</a></span>&nbsp;1, 14-15.</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">10</span><br>
Riddell M,&nbsp;Nakayama A,&nbsp;Hikita T,&nbsp;Mirzapourshafiyi F,&nbsp;Kawamura T,&nbsp;Pasha A,&nbsp;Li M,&nbsp;Masuzawa M,&nbsp;Looso M,&nbsp;Steinbacher T,&nbsp;Ebnet K,&nbsp;Potente M,&nbsp;Hirose T,&nbsp;Ohno S,&nbsp;Fleming I,&nbsp;Gattenlöhner S,&nbsp;Aung&nbsp;PP,&nbsp;Phung T,&nbsp;Yamasaki O,&nbsp;Yanagi T,&nbsp;Umemura H,&nbsp;Nakayama M. (2018) aPKC controls endothelial growth by modulating c-Myc via&nbsp;FoxO1 DNA-binding ability. <a href="https://www.nature.com/articles/s41467-018-07739-0"><span class="emphasize">Nature Communications</span></a> 9(1):5357</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">11</span><br>
Stone OA,&nbsp;El-Brolosy M,&nbsp;Wilhelm K,&nbsp;Liu X,&nbsp;Romão AM,&nbsp;Grillo E,&nbsp;Lai JKH,&nbsp;Günther S,&nbsp;Jeratsch S,&nbsp;Kuenne C,&nbsp;Lee IC,&nbsp;Braun T,&nbsp;Santoro MM,&nbsp;Locasale JW,&nbsp;Potente M,&nbsp;Stainier DYR. (2018)&nbsp;Loss of pyruvate kinase M2 limits growth and triggers innate immune&nbsp;signaling in endothelial cells. <a href="https://www.nature.com/articles/s41467-018-06406-8"><span class="emphasize">Nature Communications</span></a>&nbsp;9(1):4077</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">12</span><br>
Lim R, Potente M. (2018) Top-NOTCH regulation of cardiac metabolism.&nbsp;<a href="http://circ.ahajournals.org"><span class="emphasize">Circulation</span></a>&nbsp;137(24): 2609-12.</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">13</span></p>
<h5>Herz K,&nbsp;Becker A,&nbsp;Shi C,&nbsp;Ema M,&nbsp;Takahashi S,&nbsp;Potente M,&nbsp;Hesse M,&nbsp;Fleischmann BK,&nbsp;Wenzel D. (2018) Visualization of endothelial cell cycle dynamics in mouse&nbsp;using the Flt-1/eGFP-anillin system.<span class="emphasize">&nbsp;<a href="https://link.springer.com/article/10.1007%2Fs10456-018-9601-1">Angiogenesis</a></span> 21(2):349-361.</h5>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">14</span><br>
Neto F,&nbsp;Klaus-Bergmann A,&nbsp;Ong Y,&nbsp;Alt S,&nbsp;Vion AC,&nbsp;Szymborska A,&nbsp;Carvalho JR,&nbsp;Hollfinger I,&nbsp;Bartels-Klein E,&nbsp;Franco CA,&nbsp;Potente M,&nbsp;Gerhardt H. (2018) YAP and TAZ regulate adherens junction dynamics and&nbsp;endothelial cell distribution during vascular development.&nbsp;<a href="https://elifesciences.org/articles/31037"><span class="emphasize">eLife</span></a>&nbsp;doi: 10.7554/eLife.31037.</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">15</span><br>
Andrade J, Potente M. (2017) New Q(ues) to keep blood vessels growing.&nbsp;<span class="emphasize"><a href="http://emboj.embopress.org/content/early/2017/08/04/embj.201797764.long">The EMBO Journal</a></span>&nbsp;36(16): 2315-17.</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">16</span><br>
Potente M, Mäkinen T. (2017) Vascular heterogeneity and specialization in development and disease. <a href="http://www.nature.com/nrm/journal/vaop/ncurrent/full/nrm.2017.36.html"><span class="emphasize">Nature Reviews Molecular Cell Biology</span></a>&nbsp;18(8): 477-94.</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">17</span><br>
Yu P, Wilhelm K, Dubrac A, Tung JK, Alves TC, Fang JS, Y. X,&nbsp;Zhu J, Chen Z, De Smet F, Zhang J, Jin SW, Sun L, Sun H, Kibbey R, Hirschi KK,&nbsp;Hay N,&nbsp;Carmeliet P, Chittenden TW, Eichmann A,&nbsp;Potente M, Simons M. (2017) FGF-dependent metabolic control of vascular development. <a href="https://www.nature.com/nature/journal/vaop/ncurrent/full/nature22322.html"><span class="emphasize">Nature</span></a>&nbsp;545: 224-28.</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">18</span><br>
Potente M, Carmeliet P. (2017) The link between angiogenesis and endothelial metabolism. <a href="http://www.annualreviews.org/doi/pdf/10.1146/annurev-physiol-021115-105134"><span class="emphasize">Annual Review of Physiology</span></a><strong>&nbsp;79: 43-66</strong>.</p>
<p>&nbsp;</p>
<p><span class="emphasize">19</span></p>
<p>Wilhelm K,&nbsp;Happel K,&nbsp;Eelen G,&nbsp;Schoors S, Oellerich MF,&nbsp;Lim R,&nbsp;Zimmermann B,&nbsp;Aspalter IM,&nbsp;Franco CA,&nbsp;Boettger T,&nbsp;Braun T,&nbsp;Fruttiger M,&nbsp;Rajewsky K, Keller C,&nbsp;Brüning JC,&nbsp;Gerhardt&nbsp;H,&nbsp;Carmeliet P,&nbsp;Potente M. (2016) FOXO1 couples metabolic activity and growth state in the vascular endothelium. <a href="http://www.nature.com/nature/journal/vaop/ncurrent/full/nature16498.html"><span class="emphasize">Nature</span></a>&nbsp;529: 216-20.</p>
<p>&nbsp;</p>
<p><span class="emphasize">20</span></p>
<p>Serra H, Chivite I, Angulo-Urarte A, Soler A, Sutherland&nbsp;JD,&nbsp;Arruabarrena-Aristorena A, Ragab A, Lim R, Malumbres&nbsp;M, Fruttiger&nbsp;M,&nbsp;Potente M,&nbsp;Serrano M, Fabra A, Viñals F, Casanovas O, Pandolfi&nbsp;PP, Bigas A, Carracedo&nbsp;A, Gerhardt H, Graupera M. (2015) PTEN&nbsp;mediates Notch-dependent stalk cell&nbsp;arrest in angiogenesis. <span class="emphasize"><a href="http://www.nature.com/ncomms/2015/150731/ncomms8935/full/ncomms8935.html#close"><strong>Nature Communications</strong></a></span>&nbsp;6:7935.</p>
<p>&nbsp;</p>
<p><span class="emphasize">21</span></p>
<p>Domigan&nbsp;CK, Warren CM, Antanesian V, Happel K, Ziyad S, Lee S, Krall&nbsp;A, Duan&nbsp;L, Torres-Collado A, Castellani LW, Elashoff D, Christofk HR, van&nbsp;der&nbsp;Bliek AM, Potente M, Iruela-Arispe ML (2015) Autocrine VEGF&nbsp;signaling&nbsp;maintains energy metabolism and survivial in the endothelium.&nbsp;<span class="emphasize"><a href="http://jcs.biologists.org/content/128/12/2236.long">Journal of Cell&nbsp;Science</a></span>&nbsp;128: 2236-2248.</p>
<p>&nbsp;</p>
<p><span class="emphasize"><strong>22</strong></span></p>
<p>Doddaballapur A, Michalik KM, Manavski Y, Lucas T, Houtkooper RH, You Y, Chen W, Zeiher AM, Potente M, Dimmeler S, Boon RA. (2015) Laminar shear stress inhibits endothelial cell metabolism via KLF2-mediated repression of PFKFB3. <a title="http://atvb.ahajournals.org/content/35/1/137.long " href="http://atvb.ahajournals.org/content/35/1/137.long%20" target="_blank" rel="noopener noreferrer"><span class="emphasize">Arteriosclerosis, Thrombosis, and Vascular Biology</span></a> 35(1):137-45.</p>
<p>&nbsp;</p>
<p><span class="emphasize">23</span></p>
<p>Martin M, Geudens I, Bruyr J, Potente M, Bleuart A, Lebrun M, Simonis N, Deroanne C, Twizere JC, Soubeyran P, Peixoto P, Mottet D, Janssens V, Hofmann WK, Claes F, Carmeliet P, Kettmann R, Gerhardt H, Dequiedt F (2013) PP2A regulatory subunit Balpha controls endothelial contractility and vessel lumen integrity via regulation of HDAC7. <a title="http://emboj.embopress.org/content/32/18/2491.long" href="http://emboj.embopress.org/content/32/18/2491.long" target="_blank" rel="noopener noreferrer"><span class="emphasize">The EMBO Journal</span></a> 32: 2491-250</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">24</span><br>
Graupera M, Potente M (2013) Regulation of angiogenesis by PI3K signaling networks. <a title="http://www.sciencedirect.com/science/article/pii/S0014482713000979 " href="http://www.sciencedirect.com/science/article/pii/S0014482713000979%20" target="_blank" rel="noopener noreferrer"><span class="emphasize">Experimental Cell Research</span></a> 319: 1348-1355</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">25</span><br>
Boon RA, Iekushi K, Lechner S, Seeger T, Fischer A, Heydt S, Kaluza D, Treguer K, Carmona G, Bonauer A, Horrevoets AJ, Didier N, Girmatsion Z, Biliczki P, Ehrlich JR, Katus HA, Muller OJ, Potente M, Zeiher AM, Hermeking H, Dimmeler S (2013) MicroRNA-34a regulates cardiac ageing and function. <span class="emphasize"><a title="http://www.nature.com/nature/journal/v495/n7439/full/nature11919.html" href="http://www.nature.com/nature/journal/v495/n7439/full/nature11919.html" target="_blank" rel="noopener noreferrer"><strong>Nature</strong></a> </span>495: 107-110</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">26</span><br>
Michaelis UR, Chavakis E, Kruse C, Jungblut B, Kaluza D, Wandzioch K, Manavski Y, Heide H, Santoni MJ, Potente M, Eble JA, Borg JP, Brandes RP (2013) The polarity protein Scrib is essential for directed endothelial cell migration. <span class="emphasize"><a title="http://circres.ahajournals.org/content/112/6/924.long" href="http://circres.ahajournals.org/content/112/6/924.long" target="_blank" rel="noopener noreferrer">Circulation Research</a></span> 112: 924-934</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">27</span><br>
Oellerich MF, Potente M (2012) FOXOs and sirtuins in vascular growth, maintenance, and aging. <span class="emphasize"><a title="http://circres.ahajournals.org/content/110/9/1238.long" href="http://circres.ahajournals.org/content/110/9/1238.long" target="_blank" rel="noopener noreferrer">Circulation Research</a></span> 110: 1238-1251</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">28</span><br>
Potente M, Gerhardt H, Carmeliet P (2011) Basic and therapeutic aspects of angiogenesis. <span class="emphasize"><a title="http://www.sciencedirect.com/science/article/pii/S0092867411010099" href="http://www.sciencedirect.com/science/article/pii/S0092867411010099" target="_blank" rel="noopener noreferrer">Cell</a></span> 146: 873-887</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">29</span><br>
Guarani V, Deflorian G, Franco CA, Kruger M, Phng LK, Bentley K, Toussaint L, Dequiedt F, Mostoslavsky R, Schmidt MH, Zimmermann B, Brandes RP, Mione M, Westphal CH, Braun T, Zeiher AM, Gerhardt H, Dimmeler S, Potente M (2011) Acetylation-dependent regulation of endothelial Notch signalling by the SIRT1 deacetylase. <span class="emphasize"><a title="http://www.nature.com/nature/journal/v473/n7346/full/nature09917.html" href="http://www.nature.com/nature/journal/v473/n7346/full/nature09917.html" target="_blank" rel="noopener noreferrer">Nature </a></span>473: 234-238</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">30</span><br>
Potente M (2010) An energy-sensor network takes center stage during endothelial aging. <a title="http://circres.ahajournals.org/content/106/8/1316.long" href="http://circres.ahajournals.org/content/106/8/1316.long" target="_blank" rel="noopener noreferrer"><span class="emphasize">Circulation Research</span></a> 106: 1316-1318</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">31</span><br>
Guarani V, Potente M (2010) SIRT1 – a metabolic sensor that controls blood vessel growth. <a title="http://www.sciencedirect.com/science/article/pii/S1471489210000020" href="http://www.sciencedirect.com/science/article/pii/S1471489210000020" target="_blank" rel="noopener noreferrer"><span class="emphasize">Current Opinion in Pharmacology</span></a> 10: 139-145</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">32</span><br>
Bonauer A, Carmona G, Iwasaki M, Mione M, Koyanagi M, Fischer A, Burchfield J, Fox H, Doebele C, Ohtani K, Chavakis E, Potente M, Tjwa M, Urbich C, Zeiher AM, Dimmeler S (2009) MicroRNA-92a controls angiogenesis and functional recovery of ischemic tissues in mice. <a title="http://www.sciencemag.org/content/324/5935/1710.long" href="http://www.sciencemag.org/content/324/5935/1710.long" target="_blank" rel="noopener noreferrer"><span class="emphasize">Science </span></a>324: 1710-1713</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">33</span><br>
Urbich C, Rossig L, Kaluza D, Potente M, Boeckel JN, Knau A, Diehl F, Geng JG, Hofmann WK, Zeiher AM, Dimmeler S (2009) HDAC5 is a repressor of angiogenesis and determines the angiogenic gene expression pattern of endothelial cells. <a title="http://www.bloodjournal.org/content/113/22/5669.long?sso-checked=true" href="http://www.bloodjournal.org/content/113/22/5669.long?sso-checked=true" target="_blank" rel="noopener noreferrer"><span class="emphasize">Blood</span></a> 113: 5669-5679</p>
<p>&nbsp;</p>
<p style="text-align: left;"><span style="font-family: Gotham-Bold;">34</span><br>
Phng LK, Potente M, Leslie JD, Babbage J, Nyqvist D, Lobov I, Ondr JK, Rao S, Lang RA, Thurston G, Gerhardt H (2009) Nrarp coordinates endothelial Notch and Wnt signaling to control vessel density in angiogenesis. <span class="emphasize"><a title="http://www.sciencedirect.com/science/article/pii/S1534580708005194" href="http://www.sciencedirect.com/science/article/pii/S1534580708005194" target="_blank" rel="noopener noreferrer">Developmental Cell</a></span> 16: 70-82</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">35</span><br>
Potente M, Dimmeler S (2008b) NO targets SIRT1: a novel signaling network in endothelial senescence. <a title="http://atvb.ahajournals.org/content/28/9/1577.long" href="http://atvb.ahajournals.org/content/28/9/1577.long" target="_blank" rel="noopener noreferrer"><span class="emphasize">Arteriosclerosis, Thrombosis, and Vascular Biology</span></a> 28: 1577-1579</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">36</span><br>
Potente M, Dimmeler S (2008a) Emerging roles of SIRT1 in vascular endothelial homeostasis. <a title="http://www.tandfonline.com/doi/abs/10.4161/cc.7.14.6267#.VKV1D8b5igE" href="http://www.tandfonline.com/doi/abs/10.4161/cc.7.14.6267#.VKV1D8b5igE" target="_blank" rel="noopener noreferrer"><span class="emphasize">Cell Cycle</span></a><em> 7:</em> 2117-2122</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">37</span><br>
Taddei A, Giampietro C, Conti A, Orsenigo F, Breviario F, Pirazzoli V, Potente M, Daly C, Dimmeler S, Dejana E (2008) Endothelial adherens junctions control tight junctions by VE-cadherin-mediated upregulation of claudin-5. <a title="http://www.nature.com/ncb/journal/v10/n8/full/ncb1752.html" href="http://www.nature.com/ncb/journal/v10/n8/full/ncb1752.html" target="_blank" rel="noopener noreferrer"><span class="emphasize">Nature Cell Biology</span></a> 10: 923-934</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">38</span><br>
Martin M, Potente M, Janssens V, Vertommen D, Twizere JC, Rider MH, Goris J, Dimmeler S, Kettmann R, Dequiedt F (2008) Protein phosphatase 2A controls the activity of histone deacetylase 7 during T cell apoptosis and angiogenesis. <a title="http://www.pnas.org/content/105/12/4727.long" href="http://www.pnas.org/content/105/12/4727.long" target="_blank" rel="noopener noreferrer"><span class="emphasize">Proceedings of the National Academy of Sciences of the United States of America</span></a> 105: 4727-4732</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">39</span><br>
Potente M, Ghaeni L, Baldessari D, Mostoslavsky R, Rossig L, Dequiedt F, Haendeler J, Mione M, Dejana E, Alt FW, Zeiher AM, Dimmeler S (2007) SIRT1 controls endothelial angiogenic functions during vascular growth. <a title="http://genesdev.cshlp.org/content/21/20/2644.long" href="http://genesdev.cshlp.org/content/21/20/2644.long" target="_blank" rel="noopener noreferrer"><span class="emphasize">Genes &amp; Development</span></a> 21: 2644-2658</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">40</span><br>
Potente M, Urbich C, Sasaki K, Hofmann WK, Heeschen C, Aicher A, Kollipara R, DePinho RA, Zeiher AM, Dimmeler S (2005) Involvement of Foxo transcription factors in angiogenesis and postnatal neovascularization. <a title="http://www.jci.org/articles/view/23126" href="http://www.jci.org/articles/view/23126" target="_blank" rel="noopener noreferrer"><span class="emphasize">The Journal of Clinical Investigation</span></a> 115: 2382-2392</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">41</span><br>
Rossig L, Urbich C, Bruhl T, Dernbach E, Heeschen C, Chavakis E, Sasaki K, Aicher D, Diehl F, Seeger F, Potente M, Aicher A, Zanetta L, Dejana E, Zeiher AM, Dimmeler S (2005) Histone deacetylase activity is essential for the expression of HoxA9 and for endothelial commitment of progenitor cells. <a title="http://jem.rupress.org/content/201/11/1825.long" href="http://jem.rupress.org/content/201/11/1825.long" target="_blank" rel="noopener noreferrer"><span class="emphasize">The Journal of Experimental Medicine</span></a> 201: 1825-1835</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">42</span><br>
Urbich C, Knau A, Fichtlscherer S, Walter DH, Bruhl T, Potente M, Hofmann WK, de Vos S, Zeiher AM, Dimmeler S (2005) FOXO-dependent expression of the proapoptotic protein Bim: pivotal role for apoptosis signaling in endothelial progenitor cells. <a title="http://www.fasebj.org/content/early/2005/05/28/fj.04-2727fje.long" href="http://www.fasebj.org/content/early/2005/05/28/fj.04-2727fje.long" target="_blank" rel="noopener noreferrer"><span class="emphasize">FASEB Journal</span></a> 19: 974-976</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">43</span><br>
Potente M, Fisslthaler B, Busse R, Fleming I (2003) 11,12-Epoxyeicosatrienoic acid-induced inhibition of FOXO factors promotes endothelial proliferation by down-regulating p27Kip1. <a title="http://www.jbc.org/content/278/32/29619.long" href="http://www.jbc.org/content/278/32/29619.long" target="_blank" rel="noopener noreferrer"><span class="emphasize">The Journal of Biological Chemistry</span></a> 278: 29619-29625</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">44</span><br>
Potente M, Michaelis UR, Fisslthaler B, Busse R, Fleming I (2002) Cytochrome P450 2C9-induced endothelial cell proliferation involves induction of mitogen-activated protein (MAP) kinase phosphatase-1, inhibition of the c-Jun N-terminal kinase, and up-regulation of cyclin D1. <a title="http://www.jbc.org/content/277/18/15671.long" href="http://www.jbc.org/content/277/18/15671.long" target="_blank" rel="noopener noreferrer"><span class="emphasize">The Journal of Biological Chemistry</span></a> 277: 15671-15676</p>
<p>&nbsp;</p>
<p><span style="font-family: Gotham-Bold;">45</span><br>
Fisslthaler B, Popp R, Kiss L, Potente M, Harder DR, Fleming I, Busse R (1999) Cytochrome P450 2C is an EDHF synthase in coronary arteries. <a title="http://www.nature.com/nature/journal/v401/n6752/full/401493a0.html" href="http://www.nature.com/nature/journal/v401/n6752/full/401493a0.html" target="_blank" rel="noopener noreferrer"><span class="emphasize">Nature</span></a> 401: 493-497</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</section>
     </article> 

 </div> 		
