<div class="tab-content" id="myTabContent" style="padding-left:15px;">
    <div class="tab-pane fade show active" id="generalDisclosures" role="tabpanel" aria-labelledby="home-tab">
        <h3 class="mt-3 mb-3">GRI 102: General Disclosures
            <i class="far fa-question-circle"></i>
        </h3>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li>
                <a class="nav-link active" id="organisationalProfile-tab" data-toggle="tab"
                    href="#organisationalProfile" role="tab" aria-controls="home" aria-selected="true">1.
                    Organisational Profile</a>
            </li>
            <li>
                <a class="nav-link" id="strategy-tab" data-toggle="tab" href="#strategy" role="tab"
                    aria-controls="strategy" aria-selected="false">
                    2. Strategy</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="ethics-tab" data-toggle="tab" href="#ethics" role="tab" aria-controls="ethics"
                    aria-selected="false">
                    3. Ethics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="governance-tab" data-toggle="tab" href="#governance" role="tab"
                    aria-controls="governance" aria-selected="false">
                    4. Governance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="stakeholderengagement-tab" data-toggle="tab" href="#stakeholderengagement"
                    role="tab" aria-controls="stakeholderengagement" aria-selected="false">
                    5. Stakeholder Engagement</a>
            </li>
        </ul>


        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="organisationalProfile" role="tabpanel"
                aria-labelledby="home-tab">
                <p>With this information the reader gets an overview of the size, the geographical location
                    and the activities of an organization. This general
                    information on context is important to enable stakeholders to understand the general
                    nature of the organization and its economic, environmental
                    and social impact.</p>

                <div class="row">
                    <h3 class="label-heading mt-3 mb-3">GRI Disclosure 102-1 / Name of the
                        organization <i class="far fa-question-circle"></i></h3>
                    <div class="col-md-7">
                        <div class="form-group">
                            <textarea class="form-control" rows="5" id="" name="">{{esgdetailsbankname}}
                            </textarea>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <input type="text" class="form-control" id="" [(ngModel)]="esgdetailsbankname" />
                        </div>

                    </div>
                </div>

                <div class="row">
                    <h3 class="label-heading mt-3 mb-3">GRI Disclosure 102-2 / Activities, brands,
                        products, and services <i class="far fa-question-circle"></i></h3>
                    <div class="col-md-7">
                        <div class="form-group">
                            <textarea class="form-control" rows="5" id="" name="" value="">{{esgdetailsbankinfo1}}
                            </textarea>
                        </div>

                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                                <button type="button" [disabled]="clickedesgdetailsbankinfo" class="btn btn-primary" 
                                (click)="updatebankinfo();clickedesgdetailsbankinfo = true;">
                                    {{esgdetailsbankinfo}}</button>

                                    <button type="button" [disabled]="clickedesgdetailsbankactivity" class="btn btn-primary" 
                                    (click)="updatebankactivity();clickedesgdetailsbankactivity = true;">
                                        {{esgdetailsbankactivity}}</button>

                                        <button type="button" [disabled]="clickedesgdetailsbankservice" class="btn btn-primary" 
                                        (click)="updatebankservice();clickedesgdetailsbankservice = true;">
                                            {{esgdetailsbankservice}}</button>


                        </div>
                    </div>
                </div>

                <div class="row">
                    <h3 class="label-heading mt-3 mb-3">GRI Disclosure 102-3 / Location of
                        headquarters <i class="far fa-question-circle"></i></h3>
                    <div class="col-md-7">
                        <div class="form-group">
                            <textarea class="form-control" rows="5" id="" name="">{{esgdetailsbankinfo2}}
                            </textarea>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <button type="button" [disabled]="clickedbanklocation" class="btn btn-primary" (click)="updatebanklocation();clickedbanklocation = true;">{{esgdetailsbanklocation}}</button>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <h3 class="label-heading mt-3 mb-3">GRI Disclosure 102-4 / Location of
                        operations <i class="far fa-question-circle"></i></h3>
                    <div class="col-md-7">
                        <div class="form-group">
                            <textarea class="form-control" rows="5" id="" name="">{{esgdetailsbankinfo3}}
                            </textarea>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                                <button type="button" [disabled]="clickedbankoperation1" class="btn btn-primary" (click)="updatebankoperation1();clickedbankoperation1 = true;">{{esgdetailsbankoperation1}}</button>
                                <br/>
                                <br/>
                                <button type="button" [disabled]="clickedbankoperation2" class="btn btn-primary" (click)="updatebankoperation2();clickedbankoperation2 = true;">{{esgdetailsbankoperation2}}</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col d-flex justify-content-between action-buttons mb-5">
                        <button type="button" class="btn btn-primary" (click)="onSaveContinue($event)">SAVE & CONTINUE
                            LATER</button>
                        <button type="button" class="btn btn-primary" (click)="onSaveSubmit($event)">SAVE & SUBMIT
                            NOW</button>
                        <button type="button" class="btn btn-primary" (click)="onDelgate($event)">DELEGATE</button>
                        <button type="button" class="btn btn-primary" (click)="onExport($event)">EXPORT</button>
                        <button type="button" class="btn btn-primary" (click)="onPrint($event)">PRINT</button>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="strategy">
                Content for strategy tab
            </div>
            <div class="tab-pane fade" id="ethics">
                Content for ethics tab
            </div>
            <div class="tab-pane fade" id="governance">
                Content for governance tab
            </div>
            <div class="tab-pane fade" id="stakeholderengagement">
                Content for stakeholderengagement tab
            </div>

        </div>
    </div>
</div>