<div class="az-content">
    <div class="container">
        <div class="az-content-body">
            <div class="team" id="team">
                <h3 class="mb-4">Our Team Members</h3>
                <div class="container">
                    <div class="team-info row">


                        <!-- <h1>Test </h1>

                        <div class="form-group">
                            <label>Image</label>
                            <div *ngFor="let brochure of list">
                                <img [src]="brochure" />
                            </div>
                        </div> -->

                        <div *ngFor="let brochure of content;index as i">
                            <div class="col-md-6 team-grids">
                                <a href="javascript:void(0)">
                                    <img class="img-responsive" src="data:image/jpeg;base64,{{brochure.image}}" alt="">

                                    <div class="captn">
                                        <h4>{{content[i].name}}</h4>
                                        <h3>{{content[i].email}}</h3>

                                        <p>{{content[i].description}}</p>
                                    </div>
                                </a>
                            </div>
                        </div>









                        <!--  <div class="col-md-3 team-grids">
                        <a href="javascript:void(0)">
                            <img class="img-responsive" src="assets/images/t4.jpg" alt="">
                            <div class="captn">
                                <h4>Augc sfe</h4>
                                <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
                            </div>
                        </a>
                    </div> -->


                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>