<div class="az-content">
    <div class="container">
        <div class="az-content-body">
            <div class="team" id="team">
                <h3 class="mb-4">Our Team Members</h3>
                <div class="container">
                    <div class="team-info row">
                        
                        <div class="col-md-3 team-grids">
                            <a href="javascript:void(0)">
                                <img class="img-responsive" src="assets/images/t1.jpg" alt="">
                                <div class="captn">
                                    <h4>Tincidun</h4>
                                    
                                    <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 team-grids">
                            <a href="javascript:void(0)">
                                <img class="img-responsive" src="assets/images/t2.jpg" alt="">
                                <div class="captn">
                                    <h4>Velit uti</h4>
                                    <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 team-grids">
                            <a href="javascript:void(0)">
                                <img class="img-responsive" src="assets/images/t3.jpg" alt="">
                                <div class="captn">
                                    <h4>Posuere</h4>
                                    <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 team-grids">
                            <a href="javascript:void(0)">
                                <img class="img-responsive" src="assets/images/t4.jpg" alt="">
                                <div class="captn">
                                    <h4>Augc sfe</h4>
                                    <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
                                </div>
                            </a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>