<div class="az-content az-content-dashboard">
    <div class="container">
        <div class="az-content-body">
            
            <h2>AG Pullamsetti</h2>
       
            <h3>Molecular Mechanisms of Pulmonary Vascular Diseases </h3>
                
            <h4> Diese Informationen sind derzeit nur in englischer Sprache verfügbar. </h4>
                <p>
                Prof. Dr. Soni Savai Pullamsetti is a principle investigator at the Max Planck Institute for Heart and Lung Research, Bad Nauheim, and professor at the Department of Internal Medicine, Justus Liebig University Giessen, Germany. Prof. Dr. Pullamsetti received her undergraduate degree from Osmania University, and Master of Science in Biotechnology from Central University, India. After finishing her PhD and postdoctoral work at Justus Liebig University, from 2011, she is appointed as a Principal Investigator in the Department of Lung Development and Remodeling at the Max Planck Institute for Heart and Lung Research in Bad Nauheim.
                
                Prof. Dr. Pullamsetti serves as a co-area leader in the “Excellence Cluster for Cardio Pulmonary System (ECCPS II)”, a program committee member of the American Thoracic Society (ATS), and as a project leader and member of German Lung Center (DZL), and collaborative research center on lung diseases (UGMLC). Prof. Dr. Pullamsetti published in well-renowned scientific journals such as Nature Medicine, Science Translational Medicine, Journal of Clinical Investigation, American Journal of Respiratory and Critical Care Medicine, Circulation, International Journal of Cardiology and Molecular Biology of the Cell (Publications list Pullamsetti). She serves as a reviewer for well-renowned scientific journals. Currently she is serving at the editorial board of Scientific Reports and Pulmonary Vascular Research Institute (PVRI).
            </p>
                 
                
            <h4> Scientific Focus</h4> 
                Prof. Dr. Pullamsetti has long standing interest in understanding the molecular mechanisms underlying Pulmonary Hypertension and Pulmonary Fibrosis with the goal of developing novel therapeutic strategies.
                
                <h3>Understanding the molecular mechanisms underlying Pulmonary Hypertension</h3>
                Pulmonary Hypertension is a progressive disease of multifactorial etiology, which has a poor prognosis and results in right heart failure. Based on histopathological appearance and treatment modalities, five subclasses of chronic Pulmonary Hypertension have been defined. However, to date, current therapies provide symptomatic relief and improves prognosis, but falls short of re-establishing structural and functional lung vascular integrity, and thus, handicap-free long-term survival. 
                
                Prof. Dr. Pullamsetti's group contributed to the discovery of tyrosine kinases and phosphodiesterases involvement in the neoplastic nature of the remodeled pulmonary vasculature of Pulmonary Hypertension and parenchymal remodeling underlying Pulmonary Fibrosis. She has studied these signaling pathways in great detail and explored their therapeutic potential for PH treatment successfully and forwarding therapeutic concepts from “Bench to Bedside”. 
                
                 
                
                Recently, Prof. Dr. Pullamsetti's group research has focused to delineate the role of central downstream molecules, with a major focus on transcription factors (FoxO, Beta-catenin, HIF) and epigenetic mechanisms to different forms of Pulmonary Hypertension and to develop novel therapeutic strategies to reverse this devastating disease.
                
                 
                
                <h4>Specific projects: </h4>
                
            <p> Forkhead box O (FoxO) transcription factors role in the pathogenesis of Pulmonary Hypertension and Right Ventricular Remodeling
                Beta-Catenin role in the pathogenesis of Pulmonary Hypertension and Right Ventricular Remodeling
                Hippo signaling family: Role and regulation in Pulmonary Hypertension
                Genome-wide mapping of epigenetic landscape in human Pulmonary Hypertension
                Role and regulation of class I and IIa HDACs in Pulmonary Hypertension
                Role of Jumonji domain containing proteins in Pulmonary Hypertension
                Histological and molecular characterization of distal vascular remodeling in Chronic Thromboembolic Pulmonary Hypertension
                Understanding the molecular mechanisms underlying Pulmonary Fibrosis
                Idiopathic Pulmonary Fibrosis (IPF) belongs to the family of Idiopathic Interstitial Pneumonias (IIPs), representing the most aggressive form of a diffuse parenchymal lung disease and affecting up to 500.000 patients in the western world. With the exception of Pirfenidone and Nintedanib, there are currently no approved therapies for IPF, and IPF is still a disease with significant morbidity and mortality. Unraveling the molecular basis behind the remodeling events in the lung parenchyma, resulting in the loss of gas exchange units and the deposition of scar tissue in lung fibrosis, is desirable. 
            </p>
                 
                
                <h4>Specific projects:</h4>
                
                Forkhead box O (FoxO) transcription factors role in the pathogenesis of Pulmonary Fibrosis
                Role and regulation of class IIa HDACs in Pulmonary Fibrosis
            <div class="row row-sm mg-b-20">
                <div class="col-lg-4 about-grid">
                    <img src="assets/images/p1.jpg" class="img-responsive" alt="">
                    <h4>epsum factorial</h4>
                    <p>Epsum factorial nonp quid pro quo hic escorol. Olypian quarrels et gorcongolium onp quid sic ad
                        nauseum. Souvlaki ignitus</p>
                </div>
                <div class="col-lg-4 about-grid">
                    <img src="assets/images/p2.jpg" class="img-responsive" alt="">
                    <h4>olypian quarrels</h4>
                    <p>Epsum factorial nonp quid pro quo hic escorol. Olypian quarrels et gorcongolium onp quid sic ad
                        nauseum. Souvlaki ignitus.</p>
                </div>
                <div class="col-lg-4 about-grid">
                    <img src="assets/images/p3.jpg" class="img-responsive" alt="">
                    <h4>epsum factorial</h4>
                    <p>Epsum factorial nonp quid pro quo hic escorol. Olypian quarrels et gorcongolium onp quid sic ad
                        nauseum. Souvlaki ignitus.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
      
    </div>
</div>
<app-chartjs></app-chartjs>
 
<app-footer *ngIf="showFooter"></app-footer>