<div class="container-fluid" style="padding-left:15px;">
    <app-esg-header ></app-esg-header>
    <app-user-info></app-user-info>
    <div class="row" *ngIf="showHead">
        <div class="col-xs-12" style="padding-left:15px;">
            <ul class="nav nav-tabs ">
                <li>
                    <a routerLink="/gri102" routerLinkActive="active" class="nav-link " id="generaldisclosures-tab"
                        data-toggle="tab" role="tab">
                        GRI 102: General Disclosures
                    </a>
                </li>
                <li>
                    <a [routerLink]="'/gri103'" routerLinkActive="active" class="nav-link"
                        id="managementApproach-tab" data-toggle="tab" role="tab">
                        GRI 103: Management Approach
                    </a>
                </li>
                <li>
                    <a [routerLink]="'/gri200'" routerLinkActive="active" class="nav-link" id="economic-tab"
                        data-toggle="tab" role="tab">
                        GRI 200: Economic
                    </a>
                </li>
                <li>
                    <a [routerLink]="'/gri300'" routerLinkActive="active" class="nav-link" id="environmental-tab"
                        data-toggle="tab" role="tab">
                        GRI 300: Environmental
                    </a>
                </li>
                <li>
                    <a [routerLink]="'/gri400'" routerLinkActive="active" class="nav-link" id="social-tab"
                        data-toggle="tab" role="tab">
                        GRI 400: Social
                    </a>
                </li>
            </ul>
        </div>
    </div>

<router-outlet></router-outlet>