<div class="az-header">
  <div class="container">
    <div class="az-header-left">
      <a routerLink="/home" ><span><h1>The Pullamsetti Lab</h1></span>  </a>
      <a href="#" id="azMenuShow" (click)="toggleHeaderMenu($event)" class="az-header-menu-icon d-lg-none"><span></span></a>
    </div><!-- az-header-left -->
    <div class="az-header-menu">
      <div class="az-header-menu-header">
        <a routerLink="/" class="az-logo"><span></span> Welcome</a>
        <a href="#" (click)="toggleHeaderMenu($event)" class="close">&times;</a>
      </div><!-- az-header-menu-header -->
      <ul class="nav">
        <!-- <li class="nav-item" ngbDropdown [ngClass]="{ 'active': dashboard.isActive }">
          <a routerLink="/dashboard" routerLinkActive="active" #dashboard="routerLinkActive" class="nav-link"><i class="typcn typcn-chart-area-outline"></i> Dashboard</a>
        </li> -->
        <li class="nav-item" ngbDropdown [ngClass]="{'active': epigenetics.isActive}">
          <a class="nav-link with-sub" id="researchDropdown" ngbDropdownToggle> Research</a>
          <nav class="az-menu-sub" ngbDropdownMenu aria-labelledby="researchDropdown">
            <a routerLink="/home" class="nav-link" routerLinkActive="active" #epigenetics="routerLinkActive">Epigenetics</a>
            <a routerLink="/transcriptionfactor" class="nav-link">Transcription Factor</a>
            <a routerLink="/transcriptionfactor" class="nav-link">(EPI) Transcriptomics</a>
            <a routerLink="/transcriptionfactor" class="nav-link">Regenerative studies</a>
            <a routerLink="/techniques" class="nav-link">Techniques</a>   
          </nav>
        </li>
        <li class="nav-item" ngbDropdown [ngClass]="{'active': lab.isActive}">
          <a class="nav-link with-sub" id="employeesDropdown" ngbDropdownToggle> Employees</a>
          <nav class="az-menu-sub" ngbDropdownMenu aria-labelledby="employeesDropdown">
            <a routerLink="/employees/research" class="nav-link" routerLinkActive="active" #lab="routerLinkActive" >Research</a>
            <a routerLink="/employees/lab-management" routerLinkActive="active" #lab="routerLinkActive" class="nav-link">Lab Management</a>
          </nav>
        </li>
        <li class="nav-item" ngbDropdown [ngClass]="{ 'active': publications.isActive }"> 
          <a routerLink="/publications" class="nav-link" routerLinkActive="active" #publications="routerLinkActive"> Publications</a>
        </li>
        <li class="nav-item" ngbDropdown  [ngClass]="{ 'active': news.isActive }">
          <a class="nav-link with-sub" id="newsDropdown" ngbDropdownToggle  > News</a>
          <nav class="az-menu-sub" ngbDropdownMenu aria-labelledby="newsDropdown">
            <a routerLink="/news/current-topics" class="nav-link" routerLinkActive="active" #news="routerLinkActive">Current Topics</a>
            <a routerLink="/news/career" class="nav-link" routerLinkActive="active" #news="routerLinkActive">Career</a>
          </nav>
        </li>
        <li class="nav-item" ngbDropdown [ngClass]="{ 'active': gallery.isActive }">
          <a routerLink="/gallery" routerLinkActive="active" #gallery="routerLinkActive" class="nav-link"> Gallery</a>
        </li>
        <li class="nav-item" ngbDropdown [ngClass]="{ 'active': contact.isActive }">
          <a routerLink="/contact" routerLinkActive="active" #contact="routerLinkActive" class="nav-link"> Contact</a>
        </li>
        <li class="nav-item" ngbDropdown [ngClass]="{ 'active': login.isActive }">
          <a routerLink="/login" routerLinkActive="active" #login="routerLinkActive" class="nav-link"> LogIn</a>
        </li>
      </ul>
    </div><!-- az-header-menu -->
    
    <!-- <div class="az-header-right">
      <a routerLink="/" class="az-header-search-link"><i class="fas fa-search"></i></a>
      <div class="az-header-message">
        <a routerLink="/"><i class="typcn typcn-messages"></i></a>
      </div>
      <div class="dropdown az-header-notification" ngbDropdown>
        <a class="new" id="notificationsDropdown" ngbDropdownToggle><i class="typcn typcn-bell"></i></a>
        <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="notificationsDropdown">
          <div class="az-dropdown-header mg-b-20 d-sm-none">
            <a class="az-header-arrow" (click)="closeMenu($event)"><i class="icon ion-md-arrow-back"></i></a>
          </div>
          <h6 class="az-notification-title">Notifications</h6>
          <p class="az-notification-text">You have 2 unread notification</p>
          <div class="az-notification-list">
            <div class="media new">
              <div class="az-img-user"><img src="assets/images/img2.jpg" alt=""></div>
              <div class="media-body">
                <p>Congratulate <strong>Socrates Itumay</strong> for work anniversaries</p>
                <span>Mar 15 12:32pm</span>
              </div>
            </div>
            <div class="media new">
              <div class="az-img-user online"><img src="assets/images/img3.jpg" alt=""></div>
              <div class="media-body">
                <p><strong>Joyce Chua</strong> just created a new blog post</p>
                <span>Mar 13 04:16am</span>
              </div>
            </div>
            <div class="media">
              <div class="az-img-user"><img src="assets/images/img4.jpg" alt=""></div>
              <div class="media-body">
                <p><strong>Althea Cabardo</strong> just created a new blog post</p>
                <span>Mar 13 02:56am</span>
              </div>
            </div>
            <div class="media">
              <div class="az-img-user"><img src="assets/images/img5.jpg" alt=""></div>
              <div class="media-body">
                <p><strong>Adrian Monino</strong> added new comment on your photo</p>
                <span>Mar 12 10:40pm</span>
              </div>
            </div>
          </div>
          <div class="dropdown-footer"><a href="">View All Notifications</a></div>
        </div>
      </div>
      <div class="dropdown az-profile-menu" ngbDropdown>
        <a class="az-img-user" id="profileDropdown" ngbDropdownToggle><img src="assets/images/img1.jpg" alt="user"></a>
        <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="profileDropdown">
          <div class="az-dropdown-header d-sm-none">
            <a class="az-header-arrow" (click)="closeMenu($event)"><i class="icon ion-md-arrow-back"></i></a>
          </div>
          <div class="az-header-profile">
            <div class="az-img-user">
              <img src="assets/images/img1.jpg" alt="">
            </div>
            <h6>Aziana Pechon</h6>
            <span>Premium Member</span>
          </div>

          <a routerLink="/general-pages/profile" class="dropdown-item"><i class="typcn typcn-user-outline"></i> My Profile</a>
          <a routerLink="/general-pages/profile" class="dropdown-item"><i class="typcn typcn-edit"></i> Edit Profile</a>
          <a routerLink="/general-pages/profile" class="dropdown-item"><i class="typcn typcn-time"></i> Activity Logs</a>
          <a routerLink="/general-pages/profile" class="dropdown-item"><i class="typcn typcn-cog-outline"></i> Account Settings</a>
          <a routerLink="/general-pages/signin" class="dropdown-item"><i class="typcn typcn-power-outline"></i> Sign Out</a>
        </div>
      </div>
    </div> -->

  </div><!-- container -->
</div><!-- az-header -->