<div class="az-footer ht-40">
  <div class="container ht-100p pd-t-0-f">
    <div class="d-sm-flex justify-content-center justify-content-sm-between py-2 w-100">
      <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © Labs 2021</span>
      <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
        <a [href]="twitterUrl" target="_blank">
          <img src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/twitter-hexagon-social-media-32.png" alt="" matTooltip="Twitter"
           matTooltipPosition="above">
        </a>
        <a [href]="facebookUrl" target="_blank">
          <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-16-32.png" alt="" matTooltip="Facebook" matTooltipPosition="above">
        </a>
        <a [href]="googleUrl" target="_blank">
          <img src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/google_plus-hexagon-social-media-32.png" alt=""
           matTooltip="Google+" matTooltipPosition="above">
        </a>
        <a [href]="linkedinUrl" target="_blank">
          <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-11-32.png" alt="" matTooltip="LinkedIn" matTooltipPosition="above">
        </a>
      </span>
    </div>
  </div><!-- container -->
</div><!-- az-footer -->