<div class="container">
  <div style="text-align:center">
    <h2>Contact Us</h2>
    <p>Swing by for a cup of coffee, or leave us a message:</p>
  </div>
  <div class="row">
    <div class="column">


      <img src="sony.jpg" alt="Sony" width="500" height="600">
      <div class="text-box col-xs-9 col-md-7">
        <h4 class="name h4-gray show" aria-expanded="true"><a
            title="Weitere Informationen zu Prof. Dr. Soni Pullamsetti, PhD, F.Z.S.I." href="/person/105543/68356"><span
              class="icon link_like_text employee_name">Prof. Dr. Soni Pullamsetti, PhD, F.Z.S.I.</span></a></h4>
        <span class="position">
          Professorin, Justus-Liebig-Universität, Gießen
        </span>
        <span class="phone mpg-icon mpg-icon-phone">
          <a href="tel:+496032705-380">+49 6032 705-380</a>
        </span>
        <span class="email mpg-icon mpg-icon-email"> <a data-indirect-mail="true"
            href="mailto:afd8410c2d0b54f44c30a2782264fa223f6fde1f49e238682fc187b9ffed">soni.pullamsetti@...</a></span>


      </div>
      <div class="text-box col-xs-9 col-md-7">
        <h4 class="name h4-gray show" aria-expanded="true"><a title="Weitere Informationen zu Monika Haselbauer"
            href="/person/105137/68356"><span class="icon link_like_text employee_name">Monika Haselbauer</span></a>
        </h4>
        <span class="position">
          Assistentin
        </span>
        <span class="phone mpg-icon mpg-icon-phone">
          <a href="tel:+496032705-249">+49 6032 705-249</a>
        </span>
        <span class="email mpg-icon mpg-icon-email"> <a data-indirect-mail="true"
            href="mailto:b1d8410c681a0ff04122aa672571fb2e0d42c3060dad34286cdc90f0b5ecb9">monika.haselbauer@...</a></span>


      </div>
    </div>
    <div class="column">
      <form action="/action_page.php">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        <label for="country">Country</label>
        <select id="country" name="country">
          <option value="australia">Australia</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
          <option value="usa">India</option>
          <option value="usa">Germany</option>
          <option value="usa">Others</option>
        </select>
        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>
<div>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d633.5011414160984!2d8.663915729248346!3d50.571279250477794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bc5915065aa919%3A0xd82bd6993daf5dc7!2sCenter%20f.%20Infection%20and%20Genomics%20of%20t.%20Lung%20(CIGL)%20der%20Justus-Liebig-Universit%C3%A4t%20Gie%C3%9Fen!5e0!3m2!1sen!2sde!4v1629831513069!5m2!1sen!2sde"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>