<div class="container"
  style="background-image: url('https://sanjayv.github.io/ng-image-slider/contents/assets/img/slider/5.jpg');">
  <div style="text-align:center">
    <h2>Contact Us</h2>
    <p>Swing by for a cup of coffee, or leave us a message:</p>
  </div>

  <div class="row">
    <div class="column">

      <div class="col-sm-12 col-md-6 pb-5 newmember">
        <h2>for IBCII</h2>
        <h2>
        </h2>
        <h3><a href="/people/hofmann-antonia">Prof. Dr. Soni Pullamsetti</a>


        </h3>
        <img class="img memberImg" loading="lazy" src="/thumbs/180x180r/peoples/antonia-hofmann-1-.jpeg"><br>
        Prof. Dr. Soni Pullamsetti, PhD, F.Z.S.I.<br>
        Email: <a href="mailto:a.hofmann@med.uni-frankfurt.de">soni.pullamsetti@...</a><br>
        Fax: +49 (0) 69 6301 6602<br>
        Phone: +49 (0) 69 6301-83816<br>
        <span class="position">
          Professorin, Justus-Liebig-Universität, Gießen
        </span><br>
      </div>
      <div class="col-sm-12 col-md-6 pb-5 newmember">
        <h2>for IBCII</h2>
        <h2>
        </h2>
        <h3><a href="/people/hofmann-antonia">Prof. Dr. Soni Pullamsetti</a>


        </h3>
        <img class="img memberImg" loading="lazy" src="/thumbs/180x180r/peoples/antonia-hofmann-1-.jpeg"><br>
        Prof. Dr. Soni Pullamsetti, PhD, F.Z.S.I.<br>
        Email: <a href="mailto:a.hofmann@med.uni-frankfurt.de">soni.pullamsetti@...</a><br>
        Fax: +49 (0) 69 6301 6602<br>
        Phone: +49 (0) 69 6301-83816<br>
        <span class="position">
          Professorin, Justus-Liebig-Universität, Gießen
        </span><br>
      </div>
    </div>
    <div class="column">
      <div class="form-group">

        <label for="fname">First Name</label>
        <input type="text" [(ngModel)]="fname" name="firstname" placeholder="Your first name..">
        <label for="lname">Last Name</label>
        <input type="text" [(ngModel)]="lname" name="lastname" placeholder="Your last name..">

        <label for="email">Email </label>
        <input type="email" name="email" [(ngModel)]="femail">

        <!-- <input type="email" required id="email" [(ngModel)]="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" ngModel
          #emailref="ngModel"  [class.success]="!emailref.invalid"> 
        <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class="text-error">
          Invalid email
        </div>-->

        <label for="country">Country</label>
        <select id="country" [(ngModel)]="fcountry">
          <option value="australia">Australia</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
          <option value="usa">India</option>
          <option value="usa">Germany</option>
          <option value="usa">Others</option>
        </select>
        <label for="subject">Subject</label>
        <textarea [(ngModel)]="fsubject" placeholder="Write something.."></textarea>
        <label for="subject">Message</label>
        <textarea [(ngModel)]="fmessage" placeholder="Write something.." style="height:170px"></textarea>
        <input type="submit" value="Submit" (click)="onSubmit($event)">
      </div>
    </div>
  </div>
</div>
<div>

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d633.5011414160984!2d8.663915729248346!3d50.571279250477794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bc5915065aa919%3A0xd82bd6993daf5dc7!2sCenter%20f.%20Infection%20and%20Genomics%20of%20t.%20Lung%20(CIGL)%20der%20Justus-Liebig-Universit%C3%A4t%20Gie%C3%9Fen!5e0!3m2!1sen!2sde!4v1629831513069!5m2!1sen!2sde"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>



</div>