
<div class="row">
    <div class="col-md-8">
        <h2>ESG Reporting Facilitation Tool of Commerz Bank <i class="fab fa-envira"></i></h2>
    </div>
    <div class="col-md-4">
        <img src="../assets/images/cobaLogo.png" alt="" class="img-fluid logo" height="50px" width="100%">
    </div>           
</div>

<div class="row">
    <div class="col">
    <p>The ESG Reporting Facilitation Tool was developed by Capgemini Invent and enables standardized reporting according to the GRI standard. To
        create the sustainability report, you can call up the standards and the associated sections below. Text modules that you can use when creating the
        report are ofered for the individual GRI information. After editing, you have the option to delegate activities, save them and continue working at a
        later point in time. You also have the option of printing or exporting a draft version or the fnal version of the report. Our Capgemini Invent experts
        will be happy to answer any questions you may have about the tool.</p>
    </div>
</div>

